body {
  margin: 0;
  max-height: 100vh;
}

ul,
li {
  all: unset;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #292929;
}

.wrapper {
  margin: 0 auto;
  max-width: 1047px;
  padding: 40px;
  row-gap: 2em;
  display: grid;
  grid-template-columns: 85% 15%;
  justify-content: center;
}

.slider-images {
  height: 80vh;
  overflow: hidden;
  grid-column: 1/3;
  text-align: center;
}

.slider-text {
  height: calc(20vh - 80px);
  grid-column: 2/1;
  text-align: left;
}

.slider-radio {
  height: calc(20vh - 80px);
  gap: 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.slider-items {
  position: relative;
}

.carousel > input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.carousel__nav > label > span {
  box-sizing: border-box;
  border: 2px solid #badddf;
  background: #badddf;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.125%;
  width: 2rem;
  height: 2rem;
  transition: border 1s;
}

.carousel > input[type="radio"]:checked ~ .slider-items .slider-item {
  opacity: 0;
}

.carousel
  > input[type="radio"]:nth-child(1):checked
  ~ .slider-items
  .slider-item:nth-child(1),
.carousel
  > input[type="radio"]:nth-child(2):checked
  ~ .slider-items
  .slider-item:nth-child(2),
.carousel
  > input[type="radio"]:nth-child(3):checked
  ~ .slider-items
  .slider-item:nth-child(3),
.carousel
  > input[type="radio"]:nth-child(4):checked
  ~ .slider-items
  .slider-item:nth-child(4) {
  opacity: 1;
}

.carousel
  > input[type="radio"]:nth-child(1):checked
  ~ .carousel__nav
  > label:nth-child(1)
  > span,
.carousel
  > input[type="radio"]:nth-child(2):checked
  ~ .carousel__nav
  > label:nth-child(2)
  > span,
.carousel
  > input[type="radio"]:nth-child(3):checked
  ~ .carousel__nav
  > label:nth-child(3)
  > span,
.carousel
  > input[type="radio"]:nth-child(4):checked
  ~ .carousel__nav
  > label:nth-child(4)
  > span {
  background: transparent;
  border: 2px solid #badddf;
  cursor: default;
  pointer-events: none;
  transition: border 1s;
}

.slider-item img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-item-text {
  width: auto;
  font-weight: 600;
  font-size: 2.5rem;
  color: #fefefe;
}

.carousel__nav > label:hover > span {
  border: 5px solid #fefefe;
  background: transparent;
  transition: border 1s;
}

.carousel__nav > label {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__nav > label:hover {
  cursor: pointer;
}

@media screen and (max-width: 1140px) {
  .wrapper {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .slider-item-text {
    height: auto;
    font-size: 1.7rem;
    margin-top: 0.5rem;
    cursor: context-menu;
  }
  .wrapper {
    height: 100%;
    row-gap: 0;
    padding: 0;
    grid-template-columns: 65vw 30vw;
    grid-template-rows: 75% 8% 17%;
  }

  .slider-images {
    height: auto;
  }
  .carousel__nav > label > span {
    width: 1.5rem;
    height: 1.5rem;
  }
  .slider-item {
    align-items: flex-end;
  }
  .slider-radio {
    height: 100%;
    justify-content: center;
    grid-row: 2;
    grid-column: 1/3;
  }
  .slider-text {
    height: 100%;
    grid-row: 3;
    grid-column: 1/3;
  }
}
