body {
  margin: 0;
  max-height: 100vh;
}

ul,
li {
  all: unset;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #292929;
}

.wrapper {
  margin: 0 auto;
  max-width: 1047px;
  padding: 40px;
  row-gap: 2em;
  display: grid;
  grid-template-columns: 72% 25%;
  justify-content: center;
}

.slider-images {
  height: 70vh;
  overflow: hidden;
  grid-column: 1/3;
  text-align: center;
}

.slider-text {
  height: 22vh;
  grid-column: 2/1;
}

.slider-radio {
  height: 3rem;
  gap: 0.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* .radio-list {
  display: flex;
  justify-content: flex-end;
}

.radio-list > li {
  display: block;
  height: 10em;
} */

.carousel__items {
  position: relative;
}

.carousel > input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}

.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.carousel__nav > label {
  box-sizing: border-box;
  border: 2px solid #badddf;
  background: #badddf;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.125%;
  width: 20px;
  height: 20px;
  transition: border 1s;
}

.carousel > input[type="radio"]:checked ~ .carousel__items .carousel__item {
  opacity: 0;
}

.carousel
  > input[type="radio"]:nth-child(1):checked
  ~ .carousel__items
  .carousel__item:nth-child(1),
.carousel
  > input[type="radio"]:nth-child(2):checked
  ~ .carousel__items
  .carousel__item:nth-child(2),
.carousel
  > input[type="radio"]:nth-child(3):checked
  ~ .carousel__items
  .carousel__item:nth-child(3),
.carousel
  > input[type="radio"]:nth-child(4):checked
  ~ .carousel__items
  .carousel__item:nth-child(4) {
  opacity: 1;
}

.carousel
  > input[type="radio"]:nth-child(1):checked
  ~ .carousel__nav
  > label:nth-child(1),
.carousel
  > input[type="radio"]:nth-child(2):checked
  ~ .carousel__nav
  > label:nth-child(2),
.carousel
  > input[type="radio"]:nth-child(3):checked
  ~ .carousel__nav
  > label:nth-child(3),
.carousel
  > input[type="radio"]:nth-child(4):checked
  ~ .carousel__nav
  > label:nth-child(4) {
  background: transparent;
  border: 2px solid #badddf;
  cursor: default;
  pointer-events: none;
  transition: border 1s;
}

.carousel__item img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-item-text {
  font-weight: 600;
  font-size: 2.5rem;
  color: #fefefe;
}

.carousel__nav > label:hover {
  border: 5px solid #fefefe;
  background: transparent;
  transition: border 1s;
}
